.auto-gen-div {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    margin-top: 10px;
    margin-right: 40px;
    width: 200px;
    border-radius: 2px;
    height: 105px;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, .4);

}




.countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;

    margin: auto;
    border-radius: 10px;
    height: auto;
    border-color: deeppink;
    border-width: 10px;
    border-style: inset;



    box-shadow: 5px 5px 3px 5px rgba(177, 6, 6, 0.4);
    margin-top: 10px;
}

.result {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
}

h1 {
    font-family: "Bevan";
    font-size: 60px;
    line-height: 100px;
    color: peru;
    text-transform: uppercase;
    text-align: center;

    margin: 30px auto 0;

    text-shadow: 0px 0px 0 rgb(167, 42, 152), -1px 1px 0 rgb(162, 37, 147), -2px 2px 0 rgb(158, 33, 143), -3px 3px 0 rgb(154, 29, 139), -4px 4px 0 rgb(149, 24, 134), -5px 5px 0 rgb(145, 20, 130), -6px 6px 0 rgb(141, 16, 126), -7px 7px 0 rgb(136, 11, 121), -8px 8px 0 rgb(132, 7, 117), -9px 9px 0 rgb(255, 255, 255), -10px 10px 0 rgb(123, -2, 108), -11px 11px 0 rgb(119, -6, 104), -12px 12px 0 rgb(114, -11, 99), -13px 13px 0 rgb(110, -15, 95), -14px 14px 0 rgb(106, -19, 91), -15px 15px 0 rgb(101, -24, 86), -16px 16px 0 rgb(97, -28, 82), -17px 17px 0 rgb(93, -32, 78), -18px 18px 0 rgb(88, -37, 73), -19px 19px 0 rgb(84, -41, 69), -20px 20px 0 rgb(80, -45, 65);

}

h3 {
    font-family: "Bevan";
    text-align: center;
    margin: 30px auto 0;
    font-size: 30px;


}

button {

    background: #eb94d0;
    /* Green */


    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;

    /* to create curved edge */
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;

    font-size: 18px;

    text-decoration: none;
}


.btn {
    margin-left: 680px;
}

button:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none;
}

.searchCountry {
    background: linear-gradient(to bottom right, #ffffff, #eb94d0);
    box-shadow:
        8px 8px 10px 0px deeppink,
        -5px -5px 5px 0px #2079b0,
        5px 5px 15px 0px yellow;
    padding: 0em 1em;
    border-radius: 16px;
    border-style: solid;
    font: 20px sans-serif;
    line-height: 2;
    margin-left: 730px;
    margin-bottom: 10px;
    margin-top: 10px;
}